<h2>{{hairdoo.name}}</h2>
<br>
<div class="row col-lg-4 col-lg-offset-4">
  <img src='{{hairdoo.image}}' alt='image'>
  <br><br>
</div>

<div class="row col-lg-4 col-lg-offset-4">
  <a href="/hair">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href='{{hairdoo.id}}/edit'>Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="{{hairdoo.id}}/delete">Delete</a>
</div>

<div>

</div>
